body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1920px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.header {
  height: 130px;
}

ul {
  list-style: none;
}

.menu li {
  float: left;
}

.logo {
  position: absolute;
  margin: 38px 60px 38px 38px;
  cursor: pointer;
}

.menu {
  position: absolute;
  margin: 35px;
  margin-top: 40px;
  text-align: center;
  right: 0%;
}

.search {
  position: absolute;
  left: 22%;
  width: 55%;
  margin: 35px;
}

.search input {
  float: left;
  position: relative;
  max-width: 500px;
  width: 60%;
  height: 45px;
  font-size: 17px;
  padding-left: 15px;
  padding-top: 5px;
  border: 5px solid #1C285F;
}

.search div {
  position: absolute;
  height: 100%;
  width: 36%;
  padding-top: 9px;
  text-align: right;
  padding-right: 20px;
  font-size: 25px;
  background: white;
  right: 164px;
  box-sizing: border-box;
  border: 5px solid #1C285F;
  border-left: none;
}

.menu-btn button {
  width: 12px;
  height: 18px;
  font-size: 20px;
  padding-bottom: 5px;
  box-sizing: content-box;
  margin: -1px;
  background-color: white;
  color: #666;
  border: 1px solid #ccc;
  cursor: pointer;
}

.menu-btn {
  margin-right: 5px;
}

.menu span {
  margin: 20px;
  font-size: 14px;
  color: #ddd;
}

.search i {
  cursor: pointer;
  color: #1C285F;
}

.menu i {
  font-size: 30px;
  cursor: pointer;
}

.list {
  margin: -10px 0px 0px 30px;
}

a {
  font-size: 15px;
  text-decoration: none;
  color: #333;
}

.sidebar {
  float: left;
  background-color: #1C285F;
  width: 300px;
  height: 780px;
}

.sidebar ul {
  padding: 0px;
  margin-top: 20px;
}

.sidebar li {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  height: 70px;
  text-align: left;
  color: #aaa;
  line-height: 66px;
  padding-left: 35px;
  cursor: pointer;
}

.sidebar li:hover {
  color: white;
}
.sidebar li:hover a {
  font-weight: bold;
}
.sidebar li:hover .popup {
  visibility: visible;
}

.sidebar a {
  text-align: center;
  color: white;
  font-size: 17px;
}

.sidebar i {
  font-size: 30px;
  margin-right: 25px;
  width: 30px;
}

.popup {
  visibility: hidden;
  width: 250px;
  position: absolute;
  background-color: rgb(20, 106, 219);
  left: 245px;
  top: 18%;
  border: 1px solid black;
  z-index: 5;
}
.popup li {
  padding-left: 30px;
  color: white;
  font-weight: bold;
}

.popup ul {
  margin: 0px;
}

.content {
  position: absolute;
  right: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 950px;
  background-color: greenyellow;
  height: 780px;
}

.grid1 {
  text-align: left;
  padding-top: 30px;
  color: black;
  background: #F0B831;
}
.grid1 .grid-title {
  font-size: 35px;
  margin: 0px 30px 10px 30px;
  cursor: pointer;
}
.grid1 .grid-table table {
  font-size: 20px;
  border-spacing: 30px 15px;
  border-collapse: separate;
  width: 100%;
  font-weight: bold;
  letter-spacing: -2px;
}
.grid1 .grid-table table td {
  width: 50%;
  border-bottom: 1px solid white;
}
.grid1 .grid-table table td i {
  float: right;
  color: white;
}
.grid1 .grid-table span {
  font-size: 12px;
  font-weight: initial;
}
.grid1 .phone {
  position: absolute;
  right: 80px;
  top: 105px;
}
.grid1 .phone-icon {
  float: left;
  color: white;
  font-size: 30px;
}
.grid1 .phone-text {
  float: left;
  margin-left: 10px;
  font-size: 25px;
  text-align: center;
}
.grid1 .phone-text-s {
  font-size: 12px;
  font-weight: initial;
  margin-bottom: -5px;
}

.grid2 {
  text-align: left;
  padding-top: 30px;
  color: black;
  background: #F27940;
}
.grid2 .grid-title {
  font-size: 35px;
  margin: 0px 30px 10px 30px;
  cursor: pointer;
}
.grid2 .grid-table table {
  font-size: 20px;
  border-spacing: 30px 15px;
  border-collapse: separate;
  width: 100%;
  font-weight: bold;
  letter-spacing: -2px;
}
.grid2 .grid-table table td {
  width: 50%;
  border-bottom: 1px solid white;
}
.grid2 .grid-table table td i {
  float: right;
  color: white;
}
.grid2 .grid-table span {
  font-size: 12px;
  font-weight: initial;
}
.grid2 .phone {
  position: absolute;
  right: 80px;
  top: 105px;
}
.grid2 .phone-icon {
  float: left;
  color: white;
  font-size: 30px;
}
.grid2 .phone-text {
  float: left;
  margin-left: 10px;
  font-size: 25px;
  text-align: center;
}
.grid2 .phone-text-s {
  font-size: 12px;
  font-weight: initial;
  margin-bottom: -5px;
}

.grid3 {
  text-align: left;
  padding-top: 30px;
  color: white;
  background: #2A94AA;
}
.grid3 .grid-title {
  font-size: 35px;
  margin: 0px 30px 10px 30px;
  cursor: pointer;
}
.grid3 .grid-table table {
  font-size: 20px;
  border-spacing: 30px 15px;
  border-collapse: separate;
  width: 100%;
  font-weight: bold;
  letter-spacing: -2px;
}
.grid3 .grid-table table td {
  width: 50%;
  border-bottom: 1px solid white;
}
.grid3 .grid-table table td i {
  float: right;
  color: white;
}
.grid3 .grid-table span {
  font-size: 12px;
  font-weight: initial;
}
.grid3 .phone {
  position: absolute;
  right: 80px;
  top: 105px;
}
.grid3 .phone-icon {
  float: left;
  color: white;
  font-size: 30px;
}
.grid3 .phone-text {
  float: left;
  margin-left: 10px;
  font-size: 25px;
  text-align: center;
}
.grid3 .phone-text-s {
  font-size: 12px;
  font-weight: initial;
  margin-bottom: -5px;
}

.grid4 {
  text-align: left;
  padding-top: 30px;
  color: white;
  background: #5F5D92;
}
.grid4 .grid-title {
  font-size: 35px;
  margin: 0px 30px 10px 30px;
  cursor: pointer;
}
.grid4 .grid-table table {
  font-size: 20px;
  border-spacing: 30px 15px;
  border-collapse: separate;
  width: 100%;
  font-weight: bold;
  letter-spacing: -2px;
}
.grid4 .grid-table table td {
  width: 50%;
  border-bottom: 1px solid white;
}
.grid4 .grid-table table td i {
  float: right;
  color: white;
}
.grid4 .grid-table span {
  font-size: 12px;
  font-weight: initial;
}
.grid4 .phone {
  position: absolute;
  right: 80px;
  top: 105px;
}
.grid4 .phone-icon {
  float: left;
  color: white;
  font-size: 30px;
}
.grid4 .phone-text {
  float: left;
  margin-left: 10px;
  font-size: 25px;
  text-align: center;
}
.grid4 .phone-text-s {
  font-size: 12px;
  font-weight: initial;
  margin-bottom: -5px;
}

.grid5 {
  text-align: left;
  padding-top: 30px;
  color: white;
  background: #3B3B3B;
}
.grid5 .grid-title {
  font-size: 35px;
  margin: 0px 30px 10px 30px;
  cursor: pointer;
}
.grid5 .grid-table table {
  font-size: 20px;
  border-spacing: 30px 15px;
  border-collapse: separate;
  width: 100%;
  font-weight: bold;
  letter-spacing: -2px;
}
.grid5 .grid-table table td {
  width: 50%;
  border-bottom: 1px solid white;
}
.grid5 .grid-table table td i {
  float: right;
  color: white;
}
.grid5 .grid-table span {
  font-size: 12px;
  font-weight: initial;
}
.grid5 .phone {
  position: absolute;
  right: 80px;
  top: 105px;
}
.grid5 .phone-icon {
  float: left;
  color: white;
  font-size: 30px;
}
.grid5 .phone-text {
  float: left;
  margin-left: 10px;
  font-size: 25px;
  text-align: center;
}
.grid5 .phone-text-s {
  font-size: 12px;
  font-weight: initial;
  margin-bottom: -5px;
}

.grid6 {
  text-align: left;
  padding-top: 0px;
  color: black;
  background: #04B486;
  position: relative;
  overflow: hidden;
}
.grid6 .grid-title {
  font-size: 35px;
  margin: 0px 30px 10px 30px;
  cursor: pointer;
}
.grid6 .grid-table table {
  font-size: 20px;
  border-spacing: 30px 15px;
  border-collapse: separate;
  width: 100%;
  font-weight: bold;
  letter-spacing: -2px;
}
.grid6 .grid-table table td {
  width: 50%;
  border-bottom: 1px solid white;
}
.grid6 .grid-table table td i {
  float: right;
  color: white;
}
.grid6 .grid-table span {
  font-size: 12px;
  font-weight: initial;
}
.grid6 .phone {
  position: absolute;
  right: 80px;
  top: 105px;
}
.grid6 .phone-icon {
  float: left;
  color: white;
  font-size: 30px;
}
.grid6 .phone-text {
  float: left;
  margin-left: 10px;
  font-size: 25px;
  text-align: center;
}
.grid6 .phone-text-s {
  font-size: 12px;
  font-weight: initial;
  margin-bottom: -5px;
}

.test1 {
  background-color: red;
  width: 300%;
  height: 50%;
  top: 0%;
  position: absolute;
}
.test1 img {
  width: 33.3%;
  height: 100%;
  float: left;
}

.test2 {
  background-color: red;
  width: 300%;
  height: 50%;
  top: 50%;
  position: absolute;
}
.test2 img {
  width: 33.3%;
  height: 100%;
  float: left;
}

.carousel-btn1 {
  position: absolute;
  z-index: 5;
  width: 40%;
  height: 15%;
  bottom: 50%;
  left: 30%;
}
.carousel-btn1 .btn {
  background-color: #044632;
  width: 20px;
  height: 20px;
  float: left;
  margin: 15px 5px 10px 12px;
  border-radius: 50px;
}

.carousel-btn2 {
  position: absolute;
  z-index: 5;
  width: 40%;
  height: 15%;
  bottom: 0%;
  left: 57%;
}
.carousel-btn2 .btn {
  background-color: #044632;
  width: 20px;
  height: 20px;
  float: left;
  margin: 15px 5px 10px 12px;
  border-radius: 50px;
}/*# sourceMappingURL=index.css.map */