body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
	width: 100%;
	height: 130px;
}

ul {
	list-style: none;
}

.menu li {
	float: left;
}

.logo {
	position: absolute;
	margin: 38px 60px 38px 38px;
	cursor: pointer;
}

.menu {
	position: absolute;
	margin: 35px;
	margin-top: 40px;
	text-align: center;
	right: 0%;
}

.search {
	position: absolute;
	left: 25%;
	width: 50%;
	margin: 35px;
}

.search input {
	float: left;
	position: relative;
	max-width: 500px;
	width: 60%;
	height: 50px;
	font-size: 17px;
	padding-left: 15px;
	padding-top: 5px;
	border: 4px solid #1C285F;
}

.search div{
	position: absolute;
	height: 100%;
	width: 30%;
	padding-top: 9px;
	text-align: right;
	padding-right: 20px;
	font-size: 25px;
	background: white;
	right: 164px;
	box-sizing: border-box;
	border: 4px solid #1C285F;
	border-left: none;
}

.menu-btn button{
	width: 12px;
	height: 18px;
	font-size: 20px;
	padding-bottom: 5px;
	box-sizing: content-box;
	margin: -1px;
	background-color: white;
	color: #444;
	border: 1px solid grey;
	cursor: pointer;
}

.menu-btn {
	margin-right: 20px;
}

.menu span {
	margin: 20px;
	font-size: 14px;
	color: #ddd;
}

.search i{
	cursor: pointer;
	color: #1C285F;
}
.menu i {
	font-size: 30px;
	cursor: pointer;
}
.list{
	margin: -10px 0px 0px 30px;
}
a {
	text-decoration: none;
	color: #333;
}

.sidebar{
	float:left;
	background-color: #1C285F;
	width: 300px;
	height: 770px;
	border: 1px solid yellow;
}
.sidebar ul{
	padding: 0px;
	margin-top: 20px;
}
.sidebar li{
	position: relative;
	margin-bottom: 10px;
	display: flex;
	height: 70px;
	text-align: left;
	color: #aaa;
	border: 1px solid red;
	line-height: 66px;
	padding-left: 35px;
	cursor: pointer;
}
.sidebar li:hover{
	color: white;
	a{
		font-weight: bold;
	}
	.popup{
		visibility: visible;
	}
}
.sidebar a{
	text-align: center;
	color: white;
	font-size: 17px;
	border: 1px solid purple;
}
.sidebar i{
	font-size: 30px;
	margin-right: 25px;
	width: 30px;
	border: 1px solid purple;
}

.popup{
	visibility: hidden;
	width: 250px;
	position: absolute;
	background-color: rgb(20, 106, 219);
	left: 245px;
	top: 18%;
	border: 1px solid black;
	z-index: 5;
	li{
		padding-left: 30px;
		color: white;
		font-weight: bold;
	}
}

.popup ul{
	margin: 0px;
}

.content{
	float:right;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	width: 950px;
	background-color: greenyellow;
	height: 770px;
}

.grid1{
	background-color: yellow;
	padding: 30px;
	text-align: left;
}
.grid2{
	background-color: orange;
	padding: 30px;
	text-align: left;
}
.grid3{
	background-color: lightblue;
	padding: 30px;
	text-align: left;
}
.grid4{
	background-color: blueviolet;
	padding: 30px;
	text-align: left;
}
.grid5{
	background-color: gray;
	padding: 30px;
	text-align: left;
}
.grid6{
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr;
	background-color: yellow;
	padding: 30px;
	text-align: left;
}
